
.wrapper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
}

.row-4 {
  padding: 40px 0;
  border-bottom: 2px solid var(--border-color);
}
.row-4-col1 {
  padding: 10px 20px;
  display: flex;
}
.row-4-col1 img {
  float: left;
  padding-right: 1%;
  width: 45px;
  height: 45px;
}
.row-4-col1 h2 {
  padding: 5px 0;
  font-size: 25px;
  color: #262626;
  width: 35%;
  font-family: var(--sansarif);
}
.input-right {
  width: 100%;
}
.cus_csstwotow h2 {
  font-size: 24px;
  /* font-family: Myriad Pro; */
  color: #262626;
}
.input-right a {
  font-size: 18px;
  font-family: Myriad Pro;
  color: #000;
  background: #0093ff85;
  border: 1px solid var(--border-color);
  text-decoration: none;
  padding: 15px 1%;
  border-radius: 5px;
  transition: linear all 0.2s;
}
.cus_csstwotow ul li {
  font-size: 17px;
  /* font-family: Myriad Pro; */
  color: #666;
  padding: 10px 6% 0 0;
  margin-left: 5px;
}
.row5 {
  margin: 40px 0px 0px 0px;
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cus_csstwotow ul li a {
  font-size: 17px;
  /* font-family: Myriad Pro; */
  color: #262626;
}
.cus_csstwotow ul li a:hover {
  text-decoration: underline;
}
.cus_csstwotow .ancmore {
  text-decoration: underline;
}
.cus_csstwotow ul {
  padding: 0;
}
.cus_csstwotow ul li {
  font-size: 17px;
  color: #666;
  padding: 10px 6% 0 0;
  font-family: var(--sansarif);
}
.cus_csstwotow ul li i {
  color: #9463fe;
  padding: 0 2% 0 0;
}
.cus_csstwotow ul li a {
  font-size: 17px;
  font-family: var(--sansarif);
  color: #262626;
}
.cus_csstwotow .ancmore {
  text-decoration: underline;
}
.cus_csstwotow ul li .ancone {
  display: inline-block;
  width: 40px;
  background: #716ee2;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  padding: 8px 0;
  color: white;
}
.cus_csstwotow ul li .ancone i {
  color: #fff;
  font-size: 25px;
}
.cus_csstwotow ul li .anctwo {
  display: inline-block;
  width: 40px;
  background: #c72121;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  padding: 8px 0;
  color: white;
}
.cus_csstwotow ul li .anctwo i {
  color: #fff;
  font-size: 25px;
}
.cus_csstwotow ul li .ancthree {
  display: inline-block;
  width: 40px;
  background: #c72121;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  padding: 8px 0;

  img{
    height: 100%;
  }
}
.cus_csstwotow ul li .ancthree i {
  color: #fff;
  font-size: 25px;
}
.cus_csstwotow .last-ul li {
  float: left;
}
.cus_csstwotow .last-ul li {
  float: left;
}

.customer-info li {
  margin-top: 5px;
}
