.wrapper {
  max-width: 1300px;
  width: 100%;
  height: auto;
  margin: auto;
}
.wrapper1 {
  // max-width: 1300px;
  opacity: 60%;
  width: 100%;
  height: auto;
  margin: auto;
  background-color: #000;
}
/* ...Custom Content Always... */

/* ........NAV...START........*/

a {
  color: #000;
  /* font-family: var(--font-family); */
}

/* header */

.header {
  padding: 0 0;
  box-shadow: 0px 0px 15px -6px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#011632+45,656666+68&0.9+0,1+100 */
  background: -moz-linear-gradient(
    left,
    rgba(1, 22, 50, 0.9) 0%,
    rgba(1, 22, 50, 0.95) 45%,
    rgba(101, 102, 102, 0.97) 68%,
    rgba(101, 102, 102, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    left,
    rgba(1, 22, 50, 0.9) 0%,
    rgba(1, 22, 50, 0.95) 45%,
    rgba(101, 102, 102, 0.97) 68%,
    rgba(101, 102, 102, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to right,
    rgba(1, 22, 50, 0.9) 0%,
    rgba(1, 22, 50, 0.95) 45%,
    rgba(101, 102, 102, 0.97) 68%,
    rgba(101, 102, 102, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6011632', endColorstr='#656666',GradientType=1 ); /* IE6-9 */

  width: 100%;
  z-index: 3;
  position: absolute;
}

.header ul {
  overflow: hidden;
  padding: 0 10px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  font-family: var(--sansarif);
}

.header li a:hover,
.header .menu-btn:hover {
  background: var(--light-gray);
  transition: 0.2s ease-out;
}

.header .logo {
  display: block;
  float: left;
  /* padding: 0px 20px 10px 10px; */
}
.header .logo img {
  width: 155px;
}
/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  text-align: center;
  margin-top: 12px;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #fff;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #fff;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 316px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

.row-1-col-2 {
  display: inline-block;
  padding-top: 195px;
  padding-bottom: 175px;
  padding-left: 1%;
  padding-right: 1%;
}

.row-1-col-2 h2,
p {
  font-size: 35px;
  color: #ffffff;
  padding: 0px 0;
  font-weight: 400;
  font-family: var(--sansarif);
  // text-align: left;
}

.row-1-col-2 p {
  font-size: 18px;
  font-family: var(--sansarif);
}

.row-1-col-2 a {
  font-size: 18px;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  background: none;
  display: inline-block;
  margin: 10px 0;
  transition: linear all 0.2s;
  font-weight: 500;
  font-family: var(--sansarif);
  border: 3px solid #8c8ca5;
}

.row-1-col-2 a:hover {
  color: #f4f4f4;
  background: var(--light-gray);
}
.row-1 {
  background: url(../../assets/images/background-1.png) no-repeat;
  background-size: cover;
}
