.wrapper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
}


.services {
  padding: 70px 0px;
}
.services-col-1 {
  display: flex;
}
.services-img {
  float: left;
}
.services-img img {
  width: 470px;
  border-radius: 20%;
  padding: px 20px;
}
.services-text {
  float: right;
  padding: 30px;
}
.services-text h2 {
  font-size: 30px;
  color: #0d4483;
  font-family: var(--sansarif);
}
.services-text p {
  font-size: var(--font);
  color: #333;
  padding: 26px 0;
  line-height: 24px;
  font-family: var(--sansarif);
}
.services-ul ul {
  display: inline-block;
  margin: 0 50px 0 0;
}
.services-ul ul li {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 15px 20px 0 0;
  border-radius: 0px 25px 25px 0px;
  transition: linear all 0.2s;
  text-align: left;
  height: 45px;
  // padding: 10px 15px 10px 5px;
  display: flex;
  align-items: center;
}
.services-ul ul li svg {
  border-right: 1px solid #ccc;
  font-size: 35px;
  // padding: 10px 15px;
  color: cornflowerblue;
}
.services-ul ul li a {
  font-size: 15px;
  padding: 0px 20px;
  display: inline-block;
  width: 200px;
}
.services-ul ul li:hover {
  box-shadow: 0 0 5px 2px #ccc;
}

@media (max-width: 991px) {
  .services-ul {
    text-align: center;
  }
  .services-ul ul {
    margin: 0 25px;
  }
}
