.about_us .wrapper {
  max-width: 1280px;
  width: 100%;
  height: auto;
  margin: auto;
  padding: 0px 0px;
}

.about_us {
  padding: 107px 0px 26px 0px;
}
.About_section {
  background: #f9f9f9;
}
.About {
  padding: 50px 30px;
}
.abt_img {
  padding: 50px 0;
}
.abt_img img {
  width: -webkit-fill-available;
}
.About p {
  line-height: 33px;
  font-size: 14px;
  font-weight: 400px;
  padding: 25px 0px;
  font-family: "Montserrat", sans-serif;
}
.About_section .About p {
  color: #4d4d4d;
}
.About ul li {
  line-height: 33px;
  font-size: 17px;
  list-style-type: disc;
  color: #4d4d4d;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  line-height: 33px;
  margin: 0px 14px;
  padding: 0px 11px;
}
.About h1 {
  font-weight: 700;
  padding: 30px 0px;
  padding: 26px;
  border-left: 4px solid var(--blue);
  line-height: 18px;
  font-size: 25px;
  padding: 13px 0px 8px 18px;
}

.About ul {
  padding: 26px 0px;
}
.abthead h1 {
  font-weight: 800;
  font-size: 50px;
  padding: 0px 30px;
  margin-bottom: 20px;
  color: var(--blue);
}
.abthead {
  padding: 10px 0px;
  font-size: 22px;
}
