:root {
  --light-gray: #8c8ca580;
  --blue: #12365ee0;
  --white: #ffffff;
  --small-font: 8px;
  --medium-font: 12px;
  --font: 16px;
  --large-font: 20px;
  --border-color: #8c8ca580;
  --sansarif: "myFont";
}